body {
    font-family: 'Nunito', sans-serif;
}

/* Homepage */

.main-menu-container {
    height: 100vh;

    background: url("/assets/images/knife-in-bun-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-takeaway-container {
    height: 100vh;

    background: url("/assets/images/takeaway-pizza-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-text {
    font-weight: 400;
    width: 200;
    color: white;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.dropdown-item:hover {
    background-color: #dc3545;
    color: white;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* /.Homepage */

/* Main Menu */
