body {
    font-family: 'Nunito', sans-serif;
}

/* Homepage */

.main-menu-container {
    height: 100vh;

    background: url("/assets/images/background-burger.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-takeaway-container {
    height: 100vh;

    background: url("/assets/images/background-delivery.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-text {
    font-weight: 400;
    width: 200;
    color: white;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.dropdown-item:hover {
    background-color: #dc3545;
    color: white;
}

/* /.Homepage */

/* Main Menu */

.btn-danger {
    color: #fff;
    display: block;
    background-color: #dc3545;
    border-color: #dc3545;
}

.container-fluid {
    padding: 15px
}

.food-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    padding: 15px;
}

.img-thumbnail {
    width: 200px;
}

.menu-items {
    align-items: center;
}